
  body{
  background:#333;
  margin:0;
  padding:15px;
  }
  #user{
  width:96%;
  height:32px;
  margin-bottom:7px;
   margin-top:50px;
  }
  #text{
  width:96%;
  height:32px;
  }
 
	#logo{
	width:260px;
	height:80px;
	position:relative;
	left:13px;
	margin-bottom:3px;
	}
	#pistola{
	position:relative;
	left:22px;
	top:-5px;
	}
	#car{
	positon:relative;
	top:-12px;
	left:7px;
	}
	#torre{
	position:relative;
	left:33px;
	top:5px;
	width:60px;
	height:74px;
	}
